

#mustache {
    position: absolute;
    top: 115px;
    left: 100px;


}

h1 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    color: rgb(225, 162, 173)

}

    
body {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
 

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#baseImage {

    max-width: 90%;
    height: auto;
    border-radius: 1rem;

}


button /*mustache*/{
    color: purple;
    background-color: pink;
    border: .25rem, solid, rgb(88, 170, 188);
    position: absolute;
    top: 43rem;
  border-radius: .5rem;
    font-size: 1.1rem; 
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -300px;
    margin-top: -2.5rem;
 

}

#wig {
    position: absolute;
    left: 40px;
    top: -70px;
}

#wigbutton {
    margin-top:-2.5rem;
    margin-left: 7rem;

}

hr {

    height: .2rem;
    width: 80%;
    margin-top: 4rem;
    background-color:rgb(226, 13, 119);
    border: none;
    border-radius: 5rem;

}

.first {
    height: .2rem;
    margin-top: -2rem;
    background-color:rgb(226, 13, 119);
    border: none;

}


/*test*/
